@model IEnumerable<DotaESport.Web.ViewModels.Tournaments.AllTournamentsViewModel>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@using DotaESport.Common
@using DotaESport.Data.Models
@using DotaESport.Data.Models.Enums
@using Microsoft.AspNetCore.Identity
@{
    this.ViewData["Title"] = "All Items";
}

@if (this.User.IsInRole("Admin") || this.User.IsInRole("Administrator"))
{
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Tournaments" asp-action="Add">Add Tournament</a>
}
<hr/>
<br/>
<div class="row text-center">
    <div class="col-4">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Upcoming</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var tournament in Model)
            {
                @if (tournament.Status == TournamentStatus.Upcoming)
                {
                    <tr>
                        <th><img src="@tournament.Logo" /><a asp-controller="Tournaments" asp-action="ById" asp-route-id="@tournament.Id"> @tournament.Name</a></th>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Ongoing</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var tournament in Model)
            {
                @if (tournament.Status == TournamentStatus.Ongoing)
                {
                    <tr>
                        <th><img src="@tournament.Logo"/><a asp-controller="Tournaments" asp-action="ById" asp-route-id="@tournament.Id"> @tournament.Name</a></th>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Finished</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var tournament in Model)
            {
                @if (tournament.Status == TournamentStatus.Finished)
                {
                    <tr>
                        <th><img src="@tournament.Logo" /><a asp-controller="Tournaments" asp-action="ById" asp-route-id="@tournament.Id"> @tournament.Name</a></th>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>



