@using DotaESport.Web.ViewModels.Heroes.ViewModels
@model IEnumerable<AllHeroesViewModel>

@using DotaESport.Common
@{
    this.ViewData["Title"] = "All Heroes";
}
@*<option>STRENGTH</option>
    <option>AGILITY</option>
    <option>INTELLIGENCE</option>*@

<div class="col-md-4">
    <h1>STRENGTH</h1>
    @foreach (var item in Model)
    {
        @if (item.MainAttribute == "STRENGTH")
        {
            <div class="container">
                <img src="@item.ImgUrl" alt="Avatar">
                <div>
                    <div>@item.Name</div>
                </div>
            </div>
        }
    }
</div>

<div class="col-md-4">
    <h1>AGILITY</h1>
    @foreach (var item in Model)
    {
        @if (item.MainAttribute == "AGILITY")
        {
            <div class="container">
                <img src="@item.ImgUrl" alt="Avatar">
                <div>
                    <div>@item.Name</div>
                </div>
            </div>
        }
    }
</div>

<div class="col-md-4">
    <h1>INTELLIGENCE</h1>
    @foreach (var item in Model)
    {
        @if (item.MainAttribute == "INTELLIGENCE")
        {
            <div class="container">
                <img src="@item.ImgUrl" alt="Avatar">
                <div>
                    <div>@item.Name</div>
                </div>
            </div>
        }
    }
</div>


<a class="btn btn-primary" asp-area="" asp-controller="Heroes" asp-action="Add" role="button">Add Hero</a>
