@model IEnumerable<DotaESport.Web.ViewModels.Teams.AllTeamsViewModel>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@using DotaESport.Common
@using DotaESport.Data.Models
@using DotaESport.Data.Models.Enums
@using Microsoft.AspNetCore.Identity
@{
    this.ViewData["Title"] = "All Items";
    string showHide = "Show";
}

@if (this.User.IsInRole("Admin") || this.User.IsInRole("Administrator"))
{
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Teams" asp-action="Add">Add Team</a>
}

<div>
    <div class="align-left border-bottom2">
        <h2 class="text-warning2">Europe</h2>
    </div>
    <br />
    <div class="row">

        @foreach (var team in Model)
        {
            <div class="col-4">
                <table class="table table-bordered table-dark">
                    <thead>
                    <tr>
                        <th colspan="2">
                            <img class="float-left" src="@team.Logo" width="60" height="25" />
                            <a asp-controller="Teams" asp-action="ByName" asp-route-name="@team.Name">@team.Name</a>
                            <button class="btn btn-dark float-right">
                                Show
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th scope="col">Nickname</th>
                            <th scope="col">Real Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in team.Players)
                        {
                            <tr>
                                <th><a asp-controller="Players" asp-action="ById" asp-route-id="@player.Id">@player.NickName</a></th>
                                <th>@player.Name</th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>



