@model DotaESport.Web.ViewModels.Teams.TeamViewModel
@{
    this.ViewData["Title"] = Model.Name;
}


<div class="container">
    <div class="mx-auto d-block text-opacity2" style="width: 300px;">
        <div>
            <img class="img-responsive mx-auto d-block" src="@Model.Logo" />
        </div>
    </div>
</div>
<br/>
<<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h2 class="text-center text-gold text-opacity">Total Earnings</h2>
        <h2 class="text-center text-gold text-opacity">$ @Model.TotalEarnings</h2>
    </div>
</div>
<br/>
<div class="container">
    <div class="row">
        <ul class="row">
            @foreach (var player in Model.Players)
            {
                <li class="col-12 col-md-6 col-lg-3">
                    <div class="mx-auto d-block" style="height: 300px;">
                        <figure>
                            <img src="@player.Image" class="img-responsive ml-3" alt="@player.NickName" />
                        </figure>
                        <h3 class="text-center text-opacity2">
                            <a asp-controller="Players" asp-action="ById" asp-route-id="@player.Id">
                                @if (Model.TeamCaptain.ToUpper() == player.NickName.ToUpper())
                                {
                                    <i class="fa fa-crown"></i>
                                }
                            @player.NickName
                            </a>
                            </h3>
                        </div>
                </li>
            }
        </ul>
    </div>
</div>
