@using DotaESport.Web.ViewModels.Items
@model IEnumerable<DotaESport.Web.ViewModels.Items.AllItemsViewModel>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IJsonHelper Json;

@using DotaESport.Common
@using DotaESport.Data.Models
@using DotaESport.Data.Models.Enums
@using Microsoft.AspNetCore.Identity
@{
    this.ViewData["Title"] = "All Items";
}

@if (this.User.IsInRole("Admin") || this.User.IsInRole("Administrator"))
{
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Items" asp-action="AddItem">Add Item</a>
}
<br />
<hr />
<div class="row">
    <div class="col-1"></div>
    <div class="col-10 bg-dark2">
        <div id="ItemsTitle">
            <h1 class="text-center text-warning">ITEMS</h1>
        </div>
        <div id="ById" style="display: none">
            <div class="border-bottom">
                <div id="ItemName" class="text-white h3"></div>
                <div class="row">
                    <div class="col-1"><img src="http://cdn.dota2.com/apps/dota2/images/tooltips/gold.png" /></div>
                    <div id="ItemGold" class="text-warning col-1"></div>
                    <hr />
                    <div> <img id="ItemImage2" /></div>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-4 p-1 text-secondary" id="Lore"></div>
                <div class="col-4 text-white">
                    <div class="h3" id="DescrTitle"></div>
                    <div id="Description"></div>
                </div>
                <div class="col"><br /> <img src="http://cdn.dota2.com/apps/dota2/images/tooltips/cooldown.png" alt="Cooldown" /><div id="Cooldown" class="text-white"></div></div>
                <div class="col">
                    <br />
                    <img src="http://cdn.dota2.com/apps/dota2/images/tooltips/mana.png" alt="mana cost" /> <div class="text-primary" id="ManaCost"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>

    <div class="row">
        <div class="col">
            <h3 class="text-opacity text-white">Consumables</h3>
            @foreach (var item in Model.OrderBy(x => x.CreatedOn))
            {
                @if (item.ItemType == ItemType.Basics
               && item.BasicItemType == BasicItemType.Consumables)
                {
                    if (item.ManaCost == null)
                    {
                        item.ManaCost = 0;
                    }
                    if (item.Cooldown == null)
                    {
                        item.Cooldown = 0;
                    }
                    <img src="@item.ItemImage" alt="Avatar" onclick="takeInfo('@item.Name', '@item.ItemGoldPrice', '@item.ItemBigImage','@item.Lore','@item.DescriptionTitle', '@item.Description','@item.Cooldown','@item.ManaCost')">
                }
            }
        </div>
        <div class="col">
            <h3 class="text-opacity text-white">Attributes</h3>
            @foreach (var item in Model.OrderBy(x => x.CreatedOn))
            {
                @if (item.ItemType == ItemType.Basics
                    && item.BasicItemType == BasicItemType.Attributes)
                {
                    if (item.ManaCost == null)
                    {
                        item.ManaCost = 0;
                    }
                    if (item.Cooldown == null)
                    {
                        item.Cooldown = 0;
                    }
                    <img src="@item.ItemImage" alt="Avatar" onclick="takeInfo('@item.Name', '@item.ItemGoldPrice', '@item.ItemBigImage','@item.Lore','@item.DescriptionTitle', '@item.Description','@item.Cooldown','@item.ManaCost')">
                }
            }
        </div>
        <div class="col">
            <h3 class="text-opacity text-white">Equipment</h3>
            @foreach (var item in Model.OrderBy(x => x.CreatedOn))
            {
                @if (item.ItemType == ItemType.Basics
                    && item.BasicItemType == BasicItemType.Equipment)
                {
                    if (item.ManaCost == null)
                    {
                        item.ManaCost = 0;
                    }
                    if (item.Cooldown == null)
                    {
                        item.Cooldown = 0;
                    }
                    <img src="@item.ItemImage" alt="Avatar" onclick="takeInfo('@item.Name', '@item.ItemGoldPrice', '@item.ItemBigImage','@item.Lore','@item.DescriptionTitle', '@item.Description','@item.Cooldown','@item.ManaCost')">
                }
            }
        </div>
        <div class="col">
            <h3 class="text-opacity text-white">Miscellaneous</h3>
            @foreach (var item in Model.OrderBy(x => x.CreatedOn))
            {
                @if (item.ItemType == ItemType.Basics
                     && item.BasicItemType == BasicItemType.Miscellaneous)
                {
                    if (item.ManaCost == null)
                    {
                        item.ManaCost = 0;
                    }
                    if (item.Cooldown == null)
                    {
                        item.Cooldown = 0;
                    }
                    <img src="@item.ItemImage" alt="Avatar" onclick="takeInfo('@item.Name', '@item.ItemGoldPrice', '@item.ItemBigImage','@item.Lore','@item.DescriptionTitle', '@item.Description','@item.Cooldown','@item.ManaCost')">
                }
            }
        </div>
        <div class="col">
            <h3 class="text-opacity text-white">Secret</h3>
            @foreach (var item in Model.OrderBy(x => x.CreatedOn))
            {
                @if (item.ItemType == ItemType.Basics
                     && item.BasicItemType == BasicItemType.Secret)
                {
                    if (item.ManaCost == null)
                    {
                        item.ManaCost = 0;
                    }
                    if (item.Cooldown == null)
                    {
                        item.Cooldown = 0;
                    }
                    <img src="@item.ItemImage" alt="Avatar" onclick="takeInfo('@item.Name', '@item.ItemGoldPrice', '@item.ItemBigImage','@item.Lore','@item.DescriptionTitle', '@item.Description','@item.Cooldown','@item.ManaCost')">
                }
            }
        </div>
    </div>
</div>



